@use 'sass:math';
@import '../../scss/base.scss';
@import '../../scss/colors.scss';

@import './toggle.scss';
@import './level-button.scss';
@import './survey-precision.scss';
@import './response-list.scss';
@import './recommendations.scss';
@import './header.scss';
@import './dropdown.scss';

$cpink-main: $cpink-300;
$cpink-secondary: $cpink-100;

$clabel : $cblack-300;
$cdirection-link: $cblack-100;
$cbody-background: $cbeige;

@mixin set-item-color($color, $hcolor: false, $backcolor: false) {
	background: $color;

	@if $hcolor {
		&:hover {
			background: $hcolor;
		}
	}

	@if $backcolor {
		& .rf-direction-background {
			background-color: $backcolor;
		}
	}
}

@mixin rf-dashboard-block($padding: 6*$base) {
	$this: &;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding: $padding;

	@media screen and (max-width: $breakpoint-mobile) {
		padding: calc($padding / 3 * 2);
	}

	border-radius : 25px;

	&_size {
		&_large {
			border-radius: 40px;
		}
	}

	&__header {
		margin: 0;
		margin-bottom: 3*$base;
	}

	&__content {
		&+#{$this}__buttons {
			margin-top: math.div($padding, 2);
		}
	}
}

body {
	background-color: $cbody-background;
}

.rf-dashboard {
	margin: 0 auto;
	max-width: 1200px;
	box-sizing: border-box;

	&__header {
		margin-bottom: $base*12;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__title-block {}

	&__title {
		margin-bottom: $base*2;
	}

	&__name {}

	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr) 0px repeat(3, 1fr);
		grid-auto-rows: minmax(30px, auto);

		grid-template-areas:
			'recommendation recommendation . diagram_action diagram_action diagram_action'
			'responses responses . diagram diagram diagram'
			'precision precision . diagram diagram diagram'
			'dynamics dynamics . diagram diagram diagram'
			'. . . diagram diagram diagram'
		;

		column-gap: 30px;
		row-gap: 45px;
		justify-content: center;
		align-items: start;

		.rf-recommendation {
			grid-area: recommendation;
		}

		.rf-diagram-action {
			grid-area: diagram_action;
		}

		.rf-diagram-block {
			grid-area: diagram;
		}

		.rf-responses-list {
			grid-area: responses;
		}

		.rf-precision-block {
			grid-area: precision;
		}

		.rf-dynamics-block {
			grid-area: dynamics;
		}
	}

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			width: 100%;
			padding: 0 $base*4;

			&__container {
				grid-template-columns: 100%;
				grid-template-areas:
					'recommendation'
					'diagram_action'
					'diagram'
					'responses'
					'precision'
					'dynamics'
				;
			}
		}
	}

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			&__header {
				flex-direction: column;
				gap: 15px;
				align-items: flex-start;
			}
		}
	}

}

.rf-precision-block {
	display: flex;
	flex-direction: column;
	gap: $base*3;

	&__share {
		display: flex;
		align-items: center;

		&-icon {
			margin-right: $base*3;
			width: 32px;
		}

		&-content {
			display: flex;
			flex-direction: column;
			gap: $base;
		}
	}
}

.rf-dynamics-block {
	&__header {
		margin-bottom: $base;
	}

	&__subheader {
		margin-bottom: $base*3;
	}

	&__content {}
}



.rf-recommendation {
	background-color: $clight-blue;
}

.rf-dashboard-block {
	@include rf-dashboard-block();
}

.rf-share-page {
	color: #908a89;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: flex-start;
	align-items: center;

	&__label {
		margin-right: 3 * $base;
	}

	&_align_left {
		justify-content: flex-start;
	}

	@media screen and (max-width: 960px) {
		& {
			justify-content: flex-start;
		}
	}
}

.rf-diagram-warning {
	background: $cyellow-100;

	@include rf-dashboard-block();

	&__header {
		margin-bottom: 3 * $base;
	}

	&__content {}
}

.rf-certificate-block {
	background-color: $csoft-green;
}

.rf-diagram {
	@include rf-dashboard-block();
	background: $cyellow;

	&__header {
		margin-bottom: 5 * $base;
	}

	&__chart {
		margin-bottom: 3 * $base;
		width: 100%;
		position: relative;


	}

	&__download {
		align-self: center;

		.rf-link {
			color: $clabel !important;
		}
	}

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			overflow: auto;
			// width: 100%;
		}

		&__chart {
			// max-width: 280px;
			min-width: 480px;
		}

		&__download .rf-link {
			font-size: 16px;
		}
	}
}

.rf-widget {
	@include rf-dashboard-block(60px);

	@media screen and (max-width: $breakpoint-mobile) {
		margin: 0 -20px;
	}

	&_color {
		&_beige {
			@include set-item-color($cbeige-secondary);
		}
	}

	&__header {
		margin-bottom: 3 * $base;
		color: $clabel;
	}

	&__subheader {
		margin-bottom: 9 * $base;
		color: $clabel;
		// font-size    : 22px;
	}

	&__content {
		width: 100%;
	}

	@media screen and (max-width: $breakpoint-mobile) {

		& {
			&__header {
				margin-bottom: 6 * $base;
			}
		}
	}

}

.rf-roles-chart-block {
	&__content {
		width: 100%;
		overflow: auto;
	}

	&__chart {
		width: 100%;
		min-width: 640px;
	}
}

.rf-directions-list {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: stretch;
	gap: $base*2;
	// border-radius: 25px;
	overflow: hidden;

	&__item {}
}


.rf-direction {
	$radius: 15px;
	position: relative;
	transition: background .2s ease-in-out;
	cursor: pointer;
	border-radius: $radius;

	@each $name,
	$color,
	$hovercolor,
	$backgrcolor in $color-variants {
		&_color_#{$name} {
			@include set-item-color($color, $hovercolor, $backgrcolor);
		}
	}

	&-background {
		width: 0%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 10;

		border-radius: $radius 5px 5px $radius;
		// border-bottom-right-radius: 5px;
		// border-top-right-radius: 5px;

		transition: width .5s ease-in-out;
	}

	&_size {
		&_small {

			// &:first-child,
			// &:nth-of-type(1) {
			// 	padding-top: 7px;
			// }

			// &:last-child {
			// 	padding-bottom: 7px;
			// }
		}
	}

	&_cursor {
		&_regular {
			cursor: auto;
		}
	}


	&-content {
		z-index: 100;
		position: relative;

		padding: 15px 25px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: space-between;
		align-items: center;
		gap: $base*3;

		&_index_low {
			background: $cyellow-100;
		}

		&__name {
			padding-right: 5px;
			word-break: break-word;
			// line-height  : 24px;
		}

		&__index {
			line-height: 105%;
		}

		&__controls {
			display: flex;
			flex-direction: row;
			gap: $base*6;
			justify-content: flex-end;
			align-items: center;
		}

		.rf-direction_size_small & {
			padding: 16px 30px 17px 30px;
		}

		@media screen and (max-width: $breakpoint-mobile) {

			&,
			.rf-direction_size_small & {
				padding: $base*3;
			}
		}
	}

	&_index_low {
		background: $cyellow-100;
	}

	&__name {
		padding-right: 5px;
		line-height: 22px;

		// @media screen and (max-width: $breakpoint-mobile) {
		// 	line-height: inherit;
		// }
	}

	&__index {
		line-height: 24px;
	}

}

#allrecords a.rf-direction-tasks-block__hint {
	color: $cblack-150;
}

.rf-direction-tasks-block {
	margin-bottom: $base * 12;

	&:last-child {
		margin-bottom: 0;
	}

	&__header {
		margin-bottom: 2 * $base;
		color: $clabel;

		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: $base*6;

		@media screen and (max-width: $breakpoint-mobile) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: $base*3;
		}
	}

	&__subheader {
		color: $clabel;
		margin-bottom: 5 * $base;
		font-size: 14px;

		display: flex;
		flex-direction: column;
		gap: $base*3;

		#allrecords & a.rf-link {
			color: $cdirection-link;
		}
	}

	&__hint {
		color: $cblack-150;
		text-decoration: none;


	}

	&__diff {}

	&__task-list {}
}

.rf-direction-task-list {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: stretch;
	// border-radius: 25px;
	// clip-path: inset(0 0 0 0 round 25px);
	overflow: hidden;

	&_indent_true {
		gap: 2px;
	}

	@each $name,
	$color,
	$hovercolor,
	$backgrcolor in $color-variants {

		&_color_#{$name} {
			@include set-item-color($color);
		}
	}
}

.rf-direction-task {
	&__bar {
		cursor: pointer;
		overflow: hidden;
	}

	&__roles {
		padding: $base*6;
		padding-top: $base*7;
		display: flex;
		flex-direction: column;
		gap: $base*3;

		background: $cbeige-secondary;
		border-bottom-left-radius: $base*3;
		border-bottom-right-radius: $base*3;
		margin-top: -2*$base;

		&-header {}

		&-content {
			min-height: 250px;
			max-height: 300px;
		}

		@media screen and (max-width: $breakpoint-mobile) {
			padding: $base*4 $base*4;
			padding-top: $base*5;
		}
	}
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@keyframes slide-bottom {
	0% {
		transform: translateY(-200px);
	}

	100% {
		transform: translateY(0px);
	}
}


.rf-stats-info {
	// transition: all .2s ease-in;

	&_fixed {
		position: fixed;
		z-index: 10000;
		background-color: $cbeige;
		top: 0;
		left: 0;
		box-shadow: $clabel 1px -5px 12px -1px;
		max-width: 100%;
		width: 100%;
		animation: slide-bottom .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}

	&__wrapper {
		padding: 3*$base 5*$base;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	&__left {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		flex-grow: 2;

		.rf-stats-info_fixed & {
			padding-left: 3*$base;
		}

		&__name {
			font-family: PN,
				Arial,
				sans-serif;
			font-weight: 500;
			font-size: 18px;

			margin-right: 30px;

			max-width: 520px;
		}

		&__survey {
			.rf-dropdown {
				z-index: 100000;
			}
		}
	}

	&__page {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		flex-grow: 1;

		.rf-settings {
			margin-left: 30px;
			display: flex;

			a {
				display: block;
				height: 32px;
			}
		}
	}

	@media screen and (max-width: 960px) {
		& {
			align-items: flex-start;

			&__left {
				flex-direction: column;
				align-items: flex-start;

				&__name {
					margin-bottom: 15px;
					padding-left: 15px;
					padding-top: 5px;
				}
			}

			&__page {
				.rf-settings-icon-img.mobile {
					width: 40px;
				}
			}
		}
	}

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			&__wrapper {
				flex-direction: column-reverse;
				align-items: flex-start;
			}

			&__page {
				margin-bottom: 3*$base;
				padding-left: 15px;
			}
		}
	}

}

.rf-info-block {

	margin-bottom: 9*$base;

	&:last-child {
		margin-bottom: 0;
	}

	&__header {
		margin-bottom: 6*$base;
	}

	&__subheader {
		margin-bottom: 3*$base;
	}

	&__content {
		margin-bottom: 6*$base;
	}

	&__buttons {
		display: flex;
	}
}

.rf-settings-popup {
	padding: 40px 45px;

	&__title {
		margin-bottom: 45px;
	}

	@media screen and (max-width: $breakpoint-mobile) {
		padding: 20px 25px;
	}
}

.t-popup__container {
	border-radius: 25px;
}