@import '../../scss/base.scss';
@import '../../scss/colors.scss';

$cdropdown-back: rgba($cblack-300, 0.05);
$cdropdown-option-back: $cbeige-secondary;
$cdropdown-text: $cblack-300;

.rf-dropdown {
	position: relative;
	height: 45px;

	&__placeholder {
		min-width: 260px;
		padding: 2*$base 3*$base;
		margin: 0;
		border-radius: 5*$base;
		border: none;

		background-color: $cdropdown-back;
		cursor: pointer;

		@extend .rf-text;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;

		&:focus {
			outline: 0;
		}

		&-text {
			margin-right: $base;
			color: $cdropdown-text;
		}

		&-arrow {
			display: inline-block;
			transform: rotate(-90deg);

			transition: transform .3s ease-in-out;

			&_opened {
				transform: rotate(0deg);
			}
		}
	}

	&__panel {
		// width: 100%;

		position: relative;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: flex-start;

		border-radius: 3*$base;

		box-shadow: 2px 12px 10px 0px #a5a5a561
	}

	&__option {
		display: block;
		padding: 2*$base 3*$base;
		margin: 0;
		border: none;
		cursor: pointer;

		@extend .rf-text;

		background-color: $cdropdown-option-back;

		@include flex-row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		gap: $base*2;

		transition: all .2s ease-in-out;

		&:focus {
			outline: 0;
		}

		&:last-of-type {
			padding-bottom: 3*$base;
		}

		&:first-of-type {
			padding-top: 3*$base;
		}

		&:hover {
			background-color: #f5ece6;//darken($color: $cdropdown-option-back, $amount: 1);
		}

		&-text {
			color: $cdropdown-text;
		}

		&-tick {
			opacity: 0;

			// transition: opacity .2s ease-in;
			.rf-dropdown__option_selected & {
				opacity: 1;
			}
		}
	}
}