@import '../../scss/base.scss';
@import '../../scss/colors.scss';

.rf-container {
	&_fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10000;
		width: 100%; //calc(100% - $base*2);
		animation: slide-bottom .3s cubic-bezier(.25, .46, .45, .94) both;
		box-shadow: 0px 2px 10px 2px rgba($cblack-100, 0.3);
		background: $cbeige;
	}
}

// .t-container {
// 	max-width: 1200px;
// 	margin: 0 auto;
// }

.rf-header {
	$me: &;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: $base*6;
	grid-template-rows: $base*12 auto auto;
	row-gap: $base*2;
	margin-bottom: 60px;
	box-sizing: border-box;

	grid-template-areas:
		'logo controls controls'
		'title title title'
		'cname cname selector'
	;

	.rf-container_fixed & {
		padding: $base*3 $base*2 $base;
		margin-bottom: 0px;

		grid-template-columns: 60px 1fr 260px auto;
		grid-template-rows: 1fr;
		grid-template-areas:
			'logo cname selector controls'
		;

		#{$me}__title {
			display: none;
		}

		#{$me}__logo {
			&_large {
				display: none;
			}

			&_small {
				display: block;
				height: 35px;
			}
		}
	}

	background: $cbeige;

	&__logo {
		grid-area: logo;

		&_small {
			height: 30px;
			display: none;
		}
	}

	&__controls {
		grid-area: controls;
		@include flex-row;
		justify-content: flex-end;
		gap: $base*2;
	}

	&__title {
		grid-area: title;
		align-self: end;
	}

	&__name {
		grid-area: cname;
		align-self: center;
	}

	&__selector {
		grid-area: selector;
		justify-self: end;
		align-self: center;
	}

	&__share {
		@include flex-row;
		gap: $base*2;
	}

	&__settings {
		&-icon {
			width: 32px;
			background: rgba($color: $cblack-300, $alpha: 0.1);
			transition: background .2s ease-out;
			border-radius: 16px;
			margin-top: 4px;

			&:hover {
				background: rgba($color: $cblack-300, $alpha: 0.2);
			}
		}
	}

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			grid-template-areas:
				'logo controls controls'
				'cname cname selector'
			;
			max-width: 100%;

			&__share {
				&_text {
					display: none;
				}
			}

			&__title {
				display: none;
			}

			&__settings {
				&-icon {
					width: 40px;
					border-radius: 20px;
				}
			}
		}
	}

	@media screen and (max-width: $breakpoint-mobile) {

		&,
		.rf-container_fixed & {
			grid-template-areas:
				'logo cname cname'
				'controls controls selector'
			;
			grid-template-columns: 50px 1fr 1fr;
			column-gap: $base*3;
			grid-template-rows: auto auto auto;
			row-gap: $base*3;

			&__logo {
				&_large {
					display: none;
				}

				&_small {
					display: block;
				}
			}

			&__title {
				display: none;
			}

			&__controls {
				justify-content: flex-start;
			}

			&__name {
				max-height: $base*8;
				align-self: stretch;
				height: auto;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&__share {
				&_text {
					display: none;
				}
			}
		}
	}
}