@import '../../scss/base.scss';
@import '../../scss/colors.scss';

$levels: 
'1' $clevel-1,
'2' $clevel-2,
'3' $clevel-3;

.rf-level-button {
	display: none;
	padding: $base $base*4;
	border: 1px solid;

	border-radius: $base*3;
	font-family: $text-font-family;
	font-weight: 600;
	white-space: nowrap;

	&_level {
		@each $level, $cl in $levels {
			&_#{$level} {
				display: block;
				color: $cl;
				border-color: $cl;
			}	
		}
	}
}