@import '../../scss/colors.scss';
@import '../../scss/base.scss';

.rf-recommendations {
	display: flex;
	flex-direction: column;
	gap: $base*9;

	&__header {
		margin: 0 auto;
		max-width: 730px;
		display: flex;
		flex-direction: column;
		gap: $base*4;
		justify-content: start;
	}

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: $base*6;
	}
}