@use "sass:math";
@import '../../scss/base.scss';
@import '../../scss/colors.scss';

$csample-size : $cblack-100;

.rf-responses-list {
	$cresponse-item: rgba($cmint-green, 0.5);
	$citem-background: $cbeige;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2*$base;

	&__header {
		margin-bottom: $base*3;
	}

	&__item {
		$radius: 5px;

		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		overflow: hidden;
		position: relative;
		z-index: 0;

		border: 2px solid $cresponse-item;
		border-radius: $radius;

		padding: 3px 2*$base;
		background-color: $citem-background;

		&-label {
			width: 120px;
			color: $clabel;
			font-size: 18px;
			letter-spacing: 0%;
			text-align: left;
		}

		&-value {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: baseline;
			margin-left: 30px;
		}

		&-count {
			width: 50px;
			color: $clabel;
			font-size: 20px;
			text-align: right;
			line-height: 20px;
		}

		&-sample-size {
			width: 55px;
			margin-left: 5px;
			color: $csample-size;
			font-size: 16px;
			line-height: 16px;
			text-align: left;
		}

		&-progress {
			height: 100%;
			width: 50%;

			position: absolute;
			top: 0;
			left: 0;

			border-top-left-radius: $radius - 2;
			border-bottom-left-radius: $radius - 2;

			background-color: $cresponse-item;
			z-index: -1;

			transition: width .4s ease-in;
		}
	}
}