@use "sass:math";
@import '../../scss/base.scss';
@import '../../scss/colors.scss';

$clabel : $cblack-300;
.rf-survey-precision {
	display: flex;
	width: calc(100% - 10px);
	position: relative;
	padding-top: $base*3;

	&__arrow {
		position: absolute;
		top: 0px;
		width: 20px;
		height: 20px;
		left: calc(50% - 10px);
		transition: left 300ms ease-in-out;
	}

	&__segment {
		margin-left: 0px;
		display: flex;
		flex-direction: column;
		width: 30%;
		justify-content: flex-start;
		align-items: flex-end;
		overflow: hidden;

		&-scale {
			height: $base*3;
			width: 100%;
		}

		&-value {
			margin-top: 5px;
			color: $clabel;
			font-size: 16px;
			text-align: right;

			@extend .rf-text;
			// font-family: Roboto, sans-serif;
		}

		$parent: &;

		&_low {

			#{$parent}-scale {
				background-color: rgba($cmint-green, 0.4);
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}

			&.width_full {
				#{$parent}-scale {
					border-radius: 5px;
				}
			}
		}

		&_middle {
			#{$parent}-scale {
				background-color: $cmint-green;
			}
		}

		&_high {
			#{$parent}-scale {
				background-color: darken($color: $cmint-green, $amount: 18%);
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}
}