@use 'sass:math';

@mixin size($size, $width) {
	width: $size;
	height: $size;

	&::before,
	&::after {
		border-radius: $width;
	}

	&::before {
		top: math.div($size - $width, 2);
		left: 0;
		width: $size;
		height: $width;
	}

	&::after {
		top: 0px;
		left: math.div($size - $width, 2);
		width: $width;
		height: $size;
	}
}

.rf-plus-toggle {
	$me: &;
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		background-color: black;
		transition: transform .3s ease-in-out;
	}

	&_collapsed {

		&::after,
		&::before {
			transform: rotate(45deg);
		}
	}

	&_size {
		&_16 {
			@include size(16px, 2px)
		}

		&_24 {
			@include size(24px, 3px)
		}

		&_32 {
			@include size(32px, 4px)
		}
	}

}