@import '../scss/colors.scss';
@import '../scss/base.scss';

$crole: $cbeige;
$crole-label: $cblack-200;

$croles-hint-text: $cblack-150;

.rf-roles {

	&__header {
		margin-bottom: $base*12;
	}

	&__title {
		margin-bottom: $base*2;
	}

	&__subtitle {
		display: none;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(11, 1fr);
		column-gap: 30px;
	}

	.rf-roles-list {
		grid-column: 1 / 7;
	}

	&__hint {
		grid-column: 8 / 12;

		&-label {
			margin-bottom: $base*3
		}

		&-text {
			color: $croles-hint-text;
		}
	}

	@media screen and (max-width: $breakpoint-tablet) {
		& {
			&__content {
				display: grid;
				grid-template-columns: 1fr;
				column-gap: 30px;
				row-gap: 60px
			}

			&__header {
				margin-bottom: $base*8;
			}

			&__subtitle {
				display: block;
			}

			&__hint {
				grid-column: 1;
			}

			.rf-roles-list {
				grid-column: 1;
			}
		}
	}
}

.rf-roles-list {
	@include flex-row();
	flex-direction: column;
	justify-content: flex-start;

	&__item {
		width: 100%;
		margin-bottom: $base*2;
	}
}

.rf-role {
	display: block;
	background-color: $crole;
	text-decoration: none;

	padding: $base*3 $base*5;
	border-radius: $base*5;

	transition: all .2s ease-in-out;

	&:hover {
		background-color: lighten($crole, 3%);
		text-decoration: none;
	}

	&__content {
		@include flex-row();
		justify-content: flex-start;
		gap: 20px;
	}

	&__label {
		color: $crole-label;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	&__img {
		opacity: 0;
		transition: all .4s ease-in;

		&_loaded {
			opacity: 1;
		}
	}

}