@import '../scss/base.scss';
@import '../scss/colors.scss';

.t502__circle {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0%;
	-moz-border-radius: 0%;
	-webkit-border-radius: 0%;
	width: 50px;
	height: 50px;
	font-size: 45px;
	line-height: 45px;
	color: $cblack-300;
}

@media screen and (max-width: $breakpoint-tablet) {
	.t502__circle {
		max-width: 40px;
		max-height: 40px;
		font-size: 40px !important;
		line-height: 40px !important;
	}
}

.t502__col {
	padding: 40px 40px 40px 20px;
	box-sizing: border-box;
	// border: 1px solid $cblack-10;
	background-color: #fff1e5;
	border-radius: 25px;
	height: 100%;
	min-height: 530px;
	background-position-x: center;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.t502__col:nth-child(1) {
	background-image: url(https://storage.yandexcloud.net/rf-diagnosticstool-static/images/card1.svg);
}

.t502__col:nth-child(2) {
	background-image: url(https://storage.yandexcloud.net/rf-diagnosticstool-static/images/card2.svg);
}

.t502__col:nth-child(3) {
	background-image: url(https://storage.yandexcloud.net/rf-diagnosticstool-static/images/card3.svg);
}