@import '../scss/colors.scss';
@import '../scss/base.scss';

$cmain : $cpink-300;
$citem-back : rgba($cmain, $alpha: 0.03);
$citem-back-hovered : darken($cbeige, 2%);
$citem-selected-border: $cdark-green;
$citem-border: $cblack-10;
$citem-selected: $cbeige;
$cquestion-answered : rgba(26, 179, 148, 0.1);
$control-default : rgba(64, 64, 64, 0.5);
$csubheader : $cblack-100;

$cbutton-primary : $cyellow-100;
$cbutton-primary-color : $cblack-300;
$cbutton-secondary : $cbeige-secondary;
$cbutton-secondary-color: $cblack-100;
$cbutton-border : $cyellow-100;

$cprogressbar: $cdark-green;

$cmainpagecolor : $cblack-300;
$cmainpagesubheader: $cblack-200;

$font-family : $text-font-family;
$border-size: 2px;

$cprogressbar-back: transparent;
$ctitle: #c0e1ca;

#rec483031314 .tn-elem[data-elem-id="1661331597366"] {
    z-index: 0 !important;
}

#survey_container {
    --primary: #c7c7c7;
    --primary-light: rgba(26, 183, 250, 0.1);
    --secondary: #2dfa1a;
    --background: #FFF7F1;
    --background-dim: #FDF1E7;
    --background-dim-light: #FFF7F1;
    --foreground: #21221C;
    --base-unit: 10px;
}

.survey {
    margin: auto;
}

.sd-root-modern,
.sd-container-modern {
    font-family: $font-family;

    &__title {
        padding-top: 1em;
    }
}

.sd-row.sd-clearfix.sd-page__row > div {
    min-width: 280px !important;
}
.sd-body .sd-body__page {
    min-width: auto !important;
}

.sd-page {
    padding: 0;

    &__title {
        padding-left: $base;
        margin-bottom: $base * 2;
        padding: 20px 30px;
        line-height: 1.2;

        background-color: $ctitle;
        border-radius: $base*5;
        @extend .rf-H5;
    }

    &__description {
        padding-left: $base;
        margin-bottom: $base * 2;
    }

    &__title+&__description {
        margin-top: 0;
    }

    .mobile & {
        --sd-base-padding: calc(2 * var(--base-unit, 8px));
        padding: $base*4 0;
    }
}

.sd-element {
    &--with-frame:not(#{&}--collapsed) {
        box-shadow: none;
        border-radius: $base*5;
    }

    &__title {
        span {
            line-height: 120%;
        }
    }
}

.sd-question {

    &__header {
        &--location--top {
            margin-bottom: $base * 3;
        }
    }

    &__title {
        padding: $base $base;
        margin-bottom: $base;
        border-radius: $base;
        @extend .rf-H5;

        .sd-root-modern &--answer {
            // background-color: $cquestion-answered;
        }
    }

    &__description {
        color: $csubheader;
        @extend .rf-text;

        .sd-root-modern & {
            color: $csubheader;
        }
    }

    &__content {
        margin-left: 0;

        p {
            padding: ($base*2) 0;
        }
    }
}

.sd-selectbase {
    &__item {
        margin-bottom: $base * 3;
    }

    &__label {
        padding: 0 20px 0px 30px;
        align-items: center;
        gap: $base*4;
    }
}

@mixin rf-survey-control {
    border: $border-size solid $citem-border;
    border-radius: $base*4;
    box-shadow: none;

    &--allowhover:hover {
        border: $border-size solid darken($citem-border, 10%);

        .mobile & {
            background-color: $citem-back;
        }
    }

    &:focus {
        box-shadow: none;
        border: $border-size solid darken($citem-border, 10%);
    }
}

.sd-item {
    $me: &;
    @include rf-survey-control();

    &--checked {
        border: $border-size solid $citem-selected-border;
    }

    &__control-label {
        @extend .rf-text;
    }

    &__decorator {
        border: $border-size solid $citem-border;
        box-shadow: none;

        #{$me}--checked & {
            background-color: $citem-selected-border;
            border-color: $citem-selected-border;
        }

        #{$me}__control:focus+& {
            box-shadow: none;
            border: $border-size solid darken($citem-border, 10%);

            .sd-checkbox--checked & {
                background-color: $citem-selected-border;

                .sd-checkbox__svg use {
                    fill: $citem-selected;
                }
            }

            .sd-radio--checked & {
                background-color: $citem-selected-border;

                &::after {
                    background-color: $citem-selected;
                }
            }
        }

        #{$me}--allowhover:hover & {
            box-shadow: none;
            border: $border-size solid darken($citem-border, 10%);
        }
    }
}

.sd-input {
    @include rf-survey-control();
}

.sd-progress {
    height: 8px;
    padding: 0;
    margin-top: $base*6;
    border-radius: $base*2;
    background-color: rgba($cprogressbar, 0.2);

    &__bar {
        background-color: $cprogressbar;
        border-radius: $base*2;
        transition: all .3s ease-in-out;
    }
}

.sd-imagepicker {
    $me: &;

    &__image-container {
        @include rf-survey-control();
        overflow: hidden;

        #{$me}__item--checked & {
            border-color: $citem-selected-border;

            &::before {
                display: none;
            }
        }
    }
}

.sd-multipletext {

    &__item {
        .sd-input {
            border-radius: 0;
        }
    }

    &__item-container {

        &.sd-input:focus-within {
            box-shadow: none;
            border-color: darken($color: $citem-border, $amount: 10%);
        }

        .sd-input:focus {
            border: none;
        }
    }

    &__item-title {
        @extend .rf-text;
        margin-bottom: 15px;
    }

}

.sd-radio,
.sd-checkbox {
    &--allowhover:hover {


        .sd-root-modern & {
            .sd-checkbox__svg {
                .mobile & {
                    background-color: transparent;
                    border: 3px solid $control-default;
                    fill: transparent;
                }
            }

            .sd-radio__svg {
                .mobile & {
                    fill: none;
                    border-color: $control-default;
                }
            }
        }

    }

}

.sd-title {
    font-family: inherit;

    &-actions {
        &__title {
            max-width: auto;
        }
    }
}

.sd-btn {
    padding: $base*2 $base*6;
    border-radius: $base*8;
    border: 2px solid $cbutton-border;
    box-shadow: none;

    @extend .rf-text;

    min-width: 10em;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        box-shadow: none;
    }

    transition: all .3s ease-in-out;

    &--action {
        background-color: $cbutton-primary;
        color: $cbutton-primary-color;

        &:not(:disabled) {

            &:hover,
            &:focus {
                color: $cbutton-primary-color;
            }
        }
    }
}

.sd-body {
    &__navigation {
        .sd-btn {
            padding: calc(2 * var(--base-unit, 8px)) calc(5 * var(--base-unit, 8px));
        }
    }
}

.sd-navigation {

    &__next-btn,
    &__complete-btn {
        background-color: $cbutton-primary;
        color: $cbutton-primary-color;

        &:not(:disabled):hover,
        &:not(:disabled):focus {
            background-color: darken($cbutton-primary, 3%);
        }
    }

    &__prev-btn {
        background-color: $cbutton-secondary;
        border-color: $cbutton-secondary;
        color: $cbutton-secondary-color;

        &:not(:disabled):hover,
        &:not(:disabled):focus {
            background-color: darken($cbutton-secondary, 3%);
        }
    }
}

.sd-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: $base;
    margin-top: $base * 2;



    @media screen and (max-width: 480px) {
        & {
            flex-direction: column-reverse;

            .sd-btn {
                margin-bottom: $base * 2;
            }
        }
    }
}



.sd-btn+.sd-btn {
    margin-left: $base*2;

    @media screen and (max-width: 480px) {
        & {
            margin-left: unset;
        }
    }
}

.sd-root-modern {
    .sd-footer {

        &__next-btn,
        &__complete-btn {
            background-color: $cbutton-primary !important;
            border: 2px solid $cbutton-border;
        }

        &__prev-btn {
            background-color: $cbutton-secondary;
            color: $cmain;
            border: 2px solid $cbutton-border;
        }
    }

    // .sd-text:focus {
    //     border-color: $cmain;
    // }

    // .sd-item__control:focus+.sd-item__decorator {
    //     border-color: darken($citem-border, 5%);
    // }
    .sd-completedpage {
        background-color: transparent;
        color: $cmainpagecolor;
    }
}

.sd-boolean__switch {
    float: left;
    box-sizing: border-box;
    width: 5em;
    height: 2.5em;
    margin-right: 1.0625em;
    margin-left: 1.3125em;
    padding: 0.25em 0.25em;
    border-radius: 1.75em;
}

.sd-boolean__slider {
    display: block;
    width: 2em;
    height: 2em;
    transition-duration: 0.1s;
    transition-property: margin-left;
    transition-timing-function: linear;
    border: none;
    border-radius: 100%;
}

.sd-boolean--indeterminate .sd-boolean__slider {
    margin-left: calc(50% - 1em);
}

.sd-boolean--checked .sd-boolean__slider {
    margin-left: calc(100% - 2em);
}

@media only screen and (min-width: 1000px) {

    .sd-body {

        &__footer,
        &__page {
            margin-right: unset;
            margin-left: unset;
        }
    }

    .sd-completedpage {
        margin: 0;
    }

}

@media only screen and (max-width: 1000px) {
    .sd-body {

        &__footer,
        &__page {
            margin-right: unset;
            margin-left: unset;
        }
    }
}

.rf-greeting {
    $b: 5px;

    &__header {
        margin-bottom: $b * 6;
    }

    &__subheader {
        margin-bottom: $b * 9;
    }

    @media only screen and (max-width: 480px) {
        &__header {
            margin-bottom: $b * 3;
        }

        &__subheader {
            margin-bottom: $b * 6;
        }
    }
}

.gif-block {
    margin: 60px 0;

    &__image {
        width: 160px;
        border-radius: 15px;
        margin: auto;
        margin-bottom: 30px;

        &-img {
            width: 100%;
            border-radius: 95px;
        }

        &-copy {
            font-size: 8px;
            color: #908a89;
        }
    }

    &__header {
        text-align: center;
        margin-bottom: 15px;
    }

    &__subheader {
        text-align: center;
    }

    &__bottom {
        margin-top: $base*6;
        position: relative;
        &-image {
            width: 380px;
            // position: fixed;
            // bottom: 0;
            // left: calc(50% - 190px);
        }
    }
}