@use 'sass:math';
@import '../scss/colors.scss';
@import '../scss/base.scss';

$cinput-color: $cblack-300;
$ctitle-color: $cblack-300;
$cinput-invalid-border-color: $cred;
$cinput-valid-border-color: $cgreen;

$cwarning-block-bg-color: $cyellow;
$cmarker-color: $cpink-150;
$clink-color: $cpink-400;

$csuggestions-bg-color: $cbeige;
$csuggestions-bg-hover-color: darken($cbeige, 7%);
$csuggestions-item-border-color: darken($cbeige, 7%);

$input-border-width: 2px;
$cinput-border-color: darken($cbeige-secondary, 7%);
$cinput-button-color: $cinput-border-color;

@mixin border() {
	border: $input-border-width solid $cinput-border-color;
}

body {
	background-color: $cbeige-secondary;
}

.rf-registration * {
	box-sizing: border-box;
}

@media screen and (max-width: $breakpoint-mobile) {
	.t868 {
		.t-popup {
			padding: 0 !important;
		}

		.t-popup__container.t-popup__container-static {
			margin: 0 auto;
		}
	}
}


@keyframes heartbeat {
	from {
		transform: scale(1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}

	10% {
		transform: scale(0.91);
		animation-timing-function: ease-in;
	}

	17% {
		transform: scale(0.98);
		animation-timing-function: ease-out;
	}

	33% {
		transform: scale(0.87);
		animation-timing-function: ease-in;
	}

	45% {
		transform: scale(1);
		animation-timing-function: ease-out;
	}
}

.rf-copy {
	$bgcolor: $cblack-300;
	$size: 32px;
	height: $size;
	width: $size;
	min-width: $size;

	border-radius: math.div($size, 2);
	background-color: $bgcolor;
	cursor: pointer;

	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: lighten($color: $bgcolor, $amount: 10%);
	}

	&:active,
	&:hover {
		animation: heartbeat 1.5s ease-in-out both;
	}

	&__icon {
		width: 50%;
		color: $cblack-300;
	}

	@media screen and (max-width: $breakpoint-mobile) {
		& {
			$size: 40px;
			height: $size;
			width: $size;
			min-width: $size;
			border-radius: math.div($size, 2);
		}
	}
}

.rf-registration {
	padding: $base*6;

	&__title {
		margin-bottom: $base*10;
	}

	&__search-link {
		color: $clink-color;
		cursor: pointer;
		font-weight: 600;
	}

	&__bottom-text {
		margin-bottom: $base;
		font-size: 14px;
		opacity: 0.6;
	}

	&__buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		margin-bottom: $base*2;

		.rf-button {
			width: 100%;

			@media screen and (max-width: $breakpoint-mobile) {

				&__label {
					font-size: 14px;
				}
			}
		}
	}

	&__link {
		margin-right: $base*3;
		word-break: break-all;

		&-block {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: flex-start;
			justify-content: flex-start;
			align-items: center;

			width: 100%;

			margin-bottom: $base*3;
		}

	}

	&__success-block {
		padding: 0 20px 60px;
		
		.rf-H4 {
			margin-top: $base*6;
			margin-bottom: $base*5;
		}

		.rf-input-group {
			width: 100%;
			margin: 0;
		}

		&-icon {
			margin: 0 auto;
			display: block;
			padding: 30px;
		}
	}

}

.rf-warning {

	background: $cwarning-block-bg-color;
	padding: $base*6;
	border-radius: $base*3;

	&__list {
		padding-inline-start: $base*4;

		&-item {
			@extend .rf-text;
			margin-bottom: $base;

			&::marker {
				color: $cmarker-color;
				font-size: 1.3em;
			}
		}
	}
}

.rf-dadata-input {
	&__input {}

	&__option {

		&-title {
			@extend .rf-label;
			font-weight: 700;
			margin-bottom: $base;
			font-size: 18px;
		}

		&-subtitle {
			@extend .rf-text;
			font-size: 16px;
			opacity: 0.7;
		}
	}

	&__notfound-option {
		.rf-dadata-input__option-subtitle {
			opacity: 1;
		}
	}

	&__notfound-option-link {
		color: $clink-color;
		font-weight: 600;
	}

	.suggestions {

		&-wrapper {}

		&-suggestions {
			border-radius: $base*3;
			// border: $input-border-width solid $cblack-50;
			@include border();
			top: -$input-border-width;
			overflow: hidden;

			box-shadow: 3px 4px 15px rgba(118, 117, 116, 0.2);
			background-color: $csuggestions-bg-color;
		}

		&-suggestion {
			padding: 15px 20px;
			border-bottom: 1px solid $csuggestions-item-border-color;
			cursor: pointer;
			transition: all .1s ease-in;

			&:last-of-type {
				border-bottom: none;
			}

			&:hover {
				background-color: $csuggestions-bg-hover-color;
			}
		}

		&-hint {
			@extend .suggestions-suggestion;
			white-space: normal;
			border: none;
		}

		&-promo {
			padding: 0;
			visibility: hidden;

			a {
				display: none !important;
			}
		}
	}
}

.rf-input {
	$border-rad: $base*3;
	color: $cinput-color;
	@include border();
	border-radius: $border-rad;

	height: $base*12;
	padding: 0 $base*4;
	width: 100%;

	outline: none;

	@extend .rf-text;

	&.dirty:invalid {
		border-color: $cinput-invalid-border-color;
	}

	&.dirty:valid {
		border-color: $cinput-valid-border-color;
	}

	.rf-input-group__input-block_with-button & {
		& {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0;
		}

		&__button {
			@include border();

			cursor: pointer;

			border-radius: 0 $border-rad $border-rad 0;
			background-color: $cinput-button-color;
			height: $base*12;
			padding: 0px $base*3;

			transition: all .3s ease-in-out;

			&:hover {
				background-color: darken($cinput-button-color, 10%);
				border-color: darken($cinput-button-color, 10%);
			}
		}
	}
}

.rf-input-group {
	$me: &;
	margin-bottom: $base*5;

	&__title {
		color: $ctitle-color;
		@extend .rf-H4;
		padding-bottom: $base;
		margin-bottom: $base*2;
	}

	&__subtitle {
		color: $ctitle-color;
		opacity: 0.7;
		@extend .rf-subheader;
		padding-bottom: $base;
		margin-bottom: $base*2;
		font-size: 16px;
	}


	&_type {
		&_header {
			#{$me}__title {
				@extend .rf-H3;
			}
		}

		&_whitespace {
			height: $base*6;
		}
	}

	&__subtitle {}

	&__input-block {
		&_with-button {
			@include flex-row;
		}
	}
}

.button-copy {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;

	&__icon {
		color: $cblack-300;
		width: 24px;
	}
}