@import '../scss/base.scss';
@import '../scss/colors.scss';

#rec477503437 {}

.t-descr, .t-text {
	font-family: $text-font-family !important;
}

.t-popup__container {
	border-radius: 15px;
}

.t726__title {
	font-family: $text-font-family;
}

.t726__descr {
	font-family: $text-font-family;
}

.t726__text {
	border: 22px solid #E5A04C;
	padding: 40px 50px;
	background: $cblack-300;
	color: #fff;
	font-family: $text-font-family;
	position: relative;
	line-height: 24px;
	margin-bottom: 90px;

	&::before,
	&::after {
		content: '';
		position: absolute;
	}

	&::before {
		width: 108%;
		height: 22px;
		background: #DD9E58;
		left: -4%;
		bottom: -22px;
	}

	&::after {
		width: 106%;
		height: 30px;
		background: #BC8146;
		left: -3%;
		bottom: -52px;
	}
}



@media screen and (max-width: 480px) {
	.t726__text {
		padding: 15px 20px
	}

	.t726__text::before {
		width: 120%;
		left: -10%;
	}

	.t726__text::after {
		width: 114%;
		left: -7%;
	}

}

.t942__row .t942__col:nth-child(2) .t942__card {
	background-color: $cpeach-orange !important;
}

.t942__row .t942__col:nth-child(3) .t942__card {
	background-color: $ccold-blue !important;
}

.t942__card {}

.t942__author-name {
	font-size: 38px;
}

.t942__review {
	margin-top: 10px;
}

.t942__review-text {
	font-family: $text-font-family;
}

.t257__wrapper {
	position: relative;
	border-radius: 15px;
}

.t257__text {
	margin-bottom: 0;
}

.t257__wrapper::before {
	content: '';
	position: absolute;
	left: -7px;
	top: -44px;

	width: 64px;
	height: 68px;

	background-image: url('https://static.tildacdn.com/tild3533-6331-4238-b631-323231653139/icon-clip-pink.svg');
}

.t175__text {
	font-size: 18px;
	font-family: PN, Arial, sans-serif;
}

.t491__content {
	padding: 25px;
	background: #FDF2BA;
	border-radius: 25px;
	min-height: 160px;
}

.t491__descr {
	font-family: PN, Arial, sans-serif;
}

#rec477477412 {
	.t-slds__item_active .t-slds__wrapper {
		padding: 60px 80px;
		background: #FDF1E7;
		border-radius: 25px;
	}

	.t605__text {
		margin-bottom: 0;
	}

	@media screen and (max-width: 960px) {
		.t-slds__item_active .t-slds__wrapper {
			padding: 50px;
		}
	}

	@media screen and (max-width: 480px) {
		.t-slds__item_active {
			/*padding: 0 10px;*/
			/*width: calc(100% - 20px) !important;*/
		}

		.t-slds__item_active .t-slds__wrapper {
			padding: 30px 20px;
		}

		.t605__text {
			font-size: 17px !important;
		}
	}
}

#rec477488997 .t577__circle {
	margin: unset;
	top: 10px;
	left: -20px;
}

@media screen and (max-width: 960px) {
	#rec477488997 .t577__circle {
		left: 10px;
		top: 5px;
	}
}

#rec477488997 {
	.t577__number {
		font-size: 28px;
	}

	.t577__title,
	.t577__descr {
		text-align: left;
	}

	.t577__descr {
		font-family: $text-font-family;
	}

	.t577__row .t577__col:nth-child(2) .t577__textwrapper {
		background-color: $ccold-blue !important;
	}

	.t577__row .t577__col:nth-child(3) .t577__textwrapper {
		background-color: $cmint-green !important;
	}

	.t577__row .t577__col:nth-child(4) .t577__textwrapper {
		background-color: $cpeach-orange !important;
	}
}

#rec477611345 .tn-elem[data-elem-id="1660027420949"],
#rec477611345 .tn-elem[data-elem-id="1660028372801"],
#rec477611345 .tn-elem[data-elem-id="1660238730202"],
#rec477611345 .tn-elem[data-elem-id="1660238720122"],
#rec477611345 .tn-elem[data-elem-id="1660238704659"],
#rec477611345 .tn-elem[data-elem-id="1660238373022"],
#rec477611345 .tn-elem[data-elem-id="1660239273824"],
#rec477611345 .tn-elem[data-elem-id="1660239273834"] {
	z-index: 0 !important;
}

#rec477640354 .tn-elem[data-elem-id="1660032213411"] .tn-atom {
	font-family: $text-font-family, Arial, sans-serif !important;
}

#rec477499960 .t-descr div {
	font-family: PN, Arial, sans-serif;
}